{% extends "FkStrategyMakerBundle::modal.html.twig" %}
{% block content %}
<form action="{{ path('goal_create') }}" method="post" {{ form_enctype(form) }}>
  {{ form_widget(form) }}
  <button class="btn btn-primary btn-medium" type="submit">Save</button>
  <a class="btn btn-link btn-medium" href="{{ path('strategy_show', {'id': strategy.id}) }}">Cancel</a>
</form>
{% endblock %}
